{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Document {% endblock %}</title>
    <link rel="stylesheet" href={% static style.css %}>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav style="display:flex justify-center">
        <a href="" target="/blank"> Home </a>
        <a href="admin/" target="/blank"> Admin Page </a>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
        All types of Books will be displayed here 
    </div>
</body>
</html>